body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  min-height: 100vh;
}
/* Iso otsikko */
header {
  height: 30vh;
  align-content: center;
  h1 {
    color: #2c3648;
    font-size: clamp(1.5rem, 3rem, 5rem);
    text-shadow: 0px 0px 10px rgb(75, 63, 250);
  }
}
/* Navigaatio */
nav {
  width: 90%;
  max-width: 80ch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: stretch;
  a {
    color: rgb(11, 14, 14);
    text-decoration: none;
    background-color: rgb(75, 63, 250);
    padding: 15px;
    border-radius: 15px;
  }
  a:hover {
    color: #222222;
    background-color: #d6fdfd;
  }
}
/* Pääsisältö */
main {
  width: 90%;
  max-width: 80ch;
  font-size: clamp(0.75rem, 1rem, 2rem);
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: #222222;
  }
  a:hover {
    color: rgb(226, 250, 250);
  }
  b {
    color: #514f4f;
  }
}
/* Alapalkki tms. */
footer {
  margin: 10px;
}
